<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">About this application</h1>
    <p>
      This application was created as part of the course 'Clientside web frameworks' of Avans University of Applied Sciences
      Breda.
  
    </p>
    <h3>The foodie club</h3>
    <p>
      
      

      The Foodie Club is an application that people can use to search for recipes or even entire menus, it helps them to find new and lovely new meals they can cook in their home.
      The meals and menus on the site will be provided by real chefs who work in a range of diverse restaurants, making sure that people have a wide range of meals to choose from. Users will also be able to check out the ingredients that are used in the recipes so they can learn about what they are using.
      Down bellow more explanation will be given about what the user can look at.

    </p>

    <h4>Food Type</h4>
    <p>
      The food type tab will show information on the food type, for an example pasta, it will say it's name and it's alternative names. From which country it came and some more general trivia about the food type.
    </p>
    <br>
    <h4>Meals</h4>
    <p>
      In the meals tab users will be able to see a number of meals, these meals can be selected. When a user selects the meal a discription of the meal will pop up, telling you what it is, how it tastes, what the ingredients are, how hard it is to make and how much time it will cost. 
      When somebody adds a meal to the site a form will give them options to add as many ingredients as they need with a repsonsive form and in the recipe field the user van write down their entire recipe so it's easy for others to follow.
    </p>
    <br>
    <h4>Menus</h4>
    <p>
      In the menus tab users will be able to see multiple menus, these menus will consist out of multiple meals, it will consist of one appetizer , one main course and one dessert.
    </p>
    <br>
    <h4>Picture of the databases that will be used</h4>
    <img src="assets/images/dbpicture.png" class="img-fluid" alt="Responsive image">
  </div>
  <br>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Rick Schreijer</h5>
        <p class="card-text">
          Studentnumber: 2143726
        </p>
      </div>
    </div>
   
  </div>
</div>



<h3>Entities</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    
    <p>Food Type</p>
    <ul>
      <li>id: Interger</li>
      <li>name: string</li>
      <li>Alternate name: string</li>
      <li>Country of orgin: String</li>
      <li>allergies: String</li>
      <li>Trivia: String</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Meal</p>
    <ul>
      <li>id: Interger</li>
      <li>name: string</li>
      <li>type: Food Type</li>
      <li>Ingredients: Array</li>
      <li>Discription: string</li>
      <li>Recipe: textarea </li>
      <li>Diffuclty: Int</li>
      <li>Time: Time??</li>
      <li>Creator: Chef(Special user)</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Menu</p>
    <ul>
      <li>id: number</li>
      <li>Name: string</li>
      <li>Appetizer: Meal</li>
      <li>Main Course: Meal</li>
      <li>Desert: Meal</li>
      <li>Diffuclty: Interger</li>
    </ul>
  </div>




</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Hier moeten nog meer komen, ik heb eerst alleen de eerste entiteit uigewerkt om te kijken of het wordt goedgekeurd.</p>
  </div>
</div>
