<h1>This shows a list with all food types</h1>
<p>In this list you can see a list of various food types, click on the name to get more info about them</p>
<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Name</th>
            <th scope="col">Country of origin</th>
            <th scope="col">Alternate Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let foodtype of foodtypes$ | async">
            <td>
                <a routerLink="details/{{ foodtype.id }}">{{ foodtype.name }}</a>
            </td>
            <td>{{ foodtype.country_of_origin }}</td>
            <td>{{ foodtype.alternate_name }}</td>
        </tr>
    </tbody>
</table>