<div *ngIf="!(foodtype$ | async)">
    <p>Loading ...</p>
</div> 
<div *ngIf="foodtype$ | async as foodtype">
    <!-- we hebben hier nu een user variable uit de user$ Observable gehaald. -->
    
    <h1>{{ foodtype.name }} </h1>
    <p>The alternate name of the food: {{foodtype.alternate_name}}</p>
    <p>The country of origin: {{ foodtype.country_of_origin }}</p>
    <p>Some trivia about food: {{foodtype.trivia}}</p>
    <p>Allergies that come with the food: {{foodtype.allergies}}</p>
    <a routerLink="edit"><button class="btn btn-danger">Edit</button></a>
    <button class="btn btn-danger" (click)="delete(foodtype.id);">Delete</button>
   
</div>

