<form #foodtypeform="ngForm" name="form" (ngSubmit)="foodtypeform.form.valid && onSubmit()" novalidate>
    <div class="form-row">
        <label for="name">Name</label>
        <input type="String" class="form-control" id="name" [(ngModel)]="foodtype.name" name="name"
            #name="ngModel" required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            name is required
        </div>
    </div>

    <div class="form-row">
        <label for="alternate_name">An alternate name</label>
        <input type="String" class="form-control" id="alternate_name" [(ngModel)]="foodtype.alternate_name"
            name="alternate_name" #alternate_name="ngModel" required>
        <div [hidden]="alternate_name.valid || alternate_name.pristine" class="alert alert-danger">
            alternate_name is required
        </div>
    </div>

    <div class="form-row">
        <label for="country_of_origin">The country of origin</label>
        <input type="String" class="form-control" id="country_of_origin" [(ngModel)]="foodtype.country_of_origin"
            name="country_of_origin" #country_of_origin="ngModel" required>
        <div [hidden]="country_of_origin.valid || country_of_origin.pristine" class="alert alert-danger">
            country_of_origin is required
        </div>
    </div>

    <div class="form-row">
        <label for="allergies">Allergies that come with the foodtype</label>
        <input type="String" class="form-control" id="allergies" [(ngModel)]="foodtype.allergies"
            name="allergies" #allergies="ngModel" required>
        <div [hidden]="allergies.valid || allergies.pristine" class="alert alert-danger">
            allergies is required
        </div>
    </div>

    <div class="form-row">
        <label for="trivia">Trivia about the foodtype</label>
        <input type="String" class="form-control" id="trivia" [(ngModel)]="foodtype.trivia" name="allergies"
            #trivia="ngModel" required>
        <div [hidden]="trivia.valid || trivia.pristine" class="alert alert-danger">
            trivia is required
        </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!foodtypeform.form.valid">Submit</button>
</form>